[Desktop Entry]
Type=Application
Name=conky_start.sh
Exec=/usr/bin/conky -c /home/smexus/.conky/.conkyrc_left  --pause=5
StartupNotify=false
Terminal=false
X-GNOME-Autostart-enabled=true
